<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sistema de Reporte Metereologio</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style>
table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
    width:300px;
}
</style>
</head>
<body>
	<h1>Reporte para <a th:text="${dias}" /> días</h1>
	<table>
		<tr>
			<td>Días de sequía:</td>
			<td><p th:text="${reporte.diasSequia}" /></td>
		</tr>
		<tr>
			<td>Días de lluvia:</td>
			<td><p th:text="${reporte.diasLLuvia}" /></td>
		</tr>
		<tr>
			<td>Día Pico Maximo lluvia:</td>
			<td><p th:text="${reporte.diaPicoMaximoLLuvia}" /></td>
		</tr>
		<tr>
			<td>Días de condiciones óptimas:</td>
			<td><p th:text="${reporte.diasCondicionesOptimas}" /></td>
		</tr>		
		
	</table>
	
	<p>Reporte por defecto para 10 años, (3600). </p>
	<p>Para generar un reporte para cierto numero de días usar: https://clima-daniel-cabrera.herokuapp.com/?dias=100</p>
	<p><b>API REST:</b> https://clima-daniel-cabrera.herokuapp.com/clima?dia=100</p>
	<p>{"dia":100,"clima":"lluvia"}</p>
</body>
</html>